<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Проверка текста на уникальность</title>

    <link rel="stylesheet"  href="/static/css/style.css">
    <meta name="description" content="Лучший сайт по оценке уникальности текcта среди одного!">
    <meta property="og:title" content="Three guys company - Text unique check">
    <meta property="og:description" content="Четкая проверка на уникальность текста">
    <meta property="og:type" content="website">
    <link rel="icon"  href="/static/img/logo.jpg">


    <meta name="theme-color" content="#FF00FF">

    <style>
        body
        {
            background-image: url("/static/img/background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


</head>

<body>

<div id="header" align="center">

    <section id="container">
        <img src="/static/img/logo.jpg" alt="Logo not loaded" title="logo" id="con1" /> &nbsp; &nbsp;
        <form action="/registration" method="get" class="header_form">&nbsp;  &nbsp;
            <button class="c-button" >Регистрация</button>
        </form>

        <form action="/auth" method="get" class="header_form">&nbsp;  &nbsp;
            <button class="c-button">Вход</button>
        </form>
        <form action="/lk" method="get" class="header_form">&nbsp;  &nbsp;
            <button class="c-button">Личный кабинет</button>
        </form>
        <form action="/service" method="get" class="header_form"> &nbsp; &nbsp;
            <button class="c-button">Проверка текста</button>
        </form>
    </section>

</div>

<div id="mainContainer" align="center">

    <section id="content-section">
        <h1 align="center">Справка по алгоритмам анализа текста</h1>

        <div class="message" align="left">
            <p>Здесь алгоритмы</p>

            <div class="footer" align="bottom-left">
                <p class="colon">Никем не лицензировано. Tgt - антиплагиат. </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
