<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Проверка текста на уникальность</title>

    <!--
    <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>
    -->

    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="description" content="Лучший сайт по оценке уникальности текста среди одного!">
    <meta property="og:title" content="Three guys company - Text unique check">
    <meta property="og:description" content="Четкая проверка на уникальность текста">

    <!--<meta property="og:image" content="image.jpg">
    <meta property="og:url" content="">
    <link rel="canonical" href="">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml"> -->
    <meta property="og:type" content="website">



    <meta name="theme-color" content="#FF00FF">


</head>

<body background="/static/img/background.jpg">

<div id="header" align="center">

    <section id="container">
        <img src="/static/img/logo.jpg" alt="Logo not loaded" title="logo" id="con1" /> &nbsp; &nbsp;
        <form action="/registration" method="get">&nbsp;  &nbsp;  &nbsp;
            <button class="c-button" >Регистрация</button>
        </form>

        <form action="/auth" method="get">&nbsp;  &nbsp;
            <button class="c-button">Вход</button>
        </form>
        <form action="/service" method="get"> &nbsp; &nbsp;
            <button class="c-button">Проверка текста</button>
        </form>
        <form>&nbsp;  &nbsp;
            <button class="c-button">Справка по алгоритмам анализа текста</button>
        </form>
    </section>

</div>


<div id="mainContainer" align="center">


    <section id="content-section">
        <h1 align="center">Регистрация</h1>

        <form th:action="@{/registration}" method="post">
            <div><p>Имя пользователя: <input type="text" name="username"/> </p></div>
            <div><p>Пароль: <input type="password" name="password"/></p></div>
            <div><input type="submit" value="Зарегистрироваться"/></div>
        </form>

        <div class="footer" align="bottom-left">
            <p class="colon">Никем не лицензировано. Tgt - антиплагиат. </p>
        </div>
    </section>
</div>
</body>
</html>